<ion-header>

  <ion-navbar color="primary">
    <ion-title>Nuevo Cliente</ion-title>
    <ion-buttons>
      <button ion-button="" (click)="cancel()">Cancelar</button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button="" (click)="save()" [disabled]="!isDataValid">Guardar</button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-item>
    <ion-input
      type="text"
      placeholder="Nombre Completo"
      [(ngModel)]="customer.fullName"
      (ionChange)="validateData()"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input
      type="text"
      placeholder="NIT"
      [(ngModel)]="customer.nit"
      (ionChange)="validateData()"></ion-input>
  </ion-item>
</ion-content>
