<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Lista de Clientes
    </ion-title>
    <ion-buttons end>
      <button ion-button (click)="addCustomerModal()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-list>
    <button ion-item *ngFor="let customer of customers" (click)="goToCustomerMonths(customer)">
      {{ customer.fullName }}
    </button>
  </ion-list>
  <!--<button ion-button="" full icon-left="" (click)="scanCode()">-->
  <!--<ion-icon name="qr-scanner"></ion-icon>-->
  <!--Scan QR Code-->
  <!--</button>-->
  <!--<ion-card>-->
  <!--<ion-card-header>-->
  <!--QR Data-->
  <!--</ion-card-header>-->
  <!--<ion-card-content>-->
  <!--{{scannedCode}}-->
  <!--</ion-card-content>-->
  <!--</ion-card>-->
</ion-content>
